.container {
  margin: 40px 0px 100px 100px;
  max-width: 850px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin: 15px 0 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 90%;
  grid-template-rows: 50px 50px;
  grid-gap: 20px;
}

.input {
  width: 100%;
  padding: 5px;
}

.file_input {
  width: fit-content;
}

.post_btn {
  width: fit-content;

  padding: 7px 15px;
  background-color: #fff;
  color: #2670ff;
  border: 3px solid #2670ff;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.2s;
}

.post_btn:hover {
  color: #fff;
  background-color: #2670ff;
}
