.post_small {
  width: 280px;
  height: 440px;
  box-shadow: 0 0 1px #c2c2c2;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.delete_btn {
  font-size: 16px;
  font-weight: 300;
  color: white;
  border: none;
  padding: 8px;

  background-color: red;
  position: absolute;
}
.delete_btn:hover {
  background-color: rgb(255, 109, 109);
}

.edit_btn {
  font-size: 16px;
  font-weight: 300;
  color: white;
  border: none;
  padding: 8px;

  background-color: rgb(60, 0, 255);
  position: absolute;
}
.edit_btn:hover {
  background-color: rgb(95, 98, 255);
}

.navlink {
  text-decoration: none;
}

.header {
  margin: 15px 0 0 0;
}
.footer {
  display: flex;
  margin: 20px 0 20px 0;
  justify-content: space-between;
  align-items: center;
}

.image_small {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  display: flex;
  object-fit: cover;
}
.info_container_small {
  padding: 0px 20px;
  display: flex;
  flex-grow: 1;

  flex-direction: column;
  justify-content: space-between;
}
.category {
  margin: 0 0 8px 0;
  color: rgb(50, 39, 255);
  font-size: 14px;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 15px 0;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
.title:hover {
  color: rgb(50, 39, 255);
  transition: 0.2s;
}

.rating {
  display: flex;
  font-size: 14px;
  font-weight: 300;
}
.date {
  font-size: 12px;
}

.icon_box {
  margin: 0 10px 0 0;
}
